.page-posts,
.page-albums,
.page-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .show-window-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #3867d6;
    border-radius: 2px;
    background-color: #4b7bec;
    color: white;
    width: 160px;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.25s;
    }
  }
}

.page-posts {
  .list {
    .list-el {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 380px;
      height: 300px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      margin: 16px;
      padding: 10px;
    }
  }
}

.page-albums {
  .list {
    .list-el {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 350px;
      height: 200px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      margin: 16px;
      padding: 8px;
    }
  }
}

.page-users {
  .list {
    .user-el {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 450px;
      height: 250px;
      padding: 12px;
      margin: 16px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      text-align: center;

      .user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .user-col {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          height: 200px;
        }
      }
    }
  }
}
