$half-delete-btn-width: 74px;

.page-posts,
.page-albums,
.page-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    color: #234aa6;

    img {
      object-fit: contain;
      width: 80px;
      height: 80px;
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    .list-el,
    .user-el {
      position: relative;

      .container-el-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70%;

        .delete-el-btn,
        .edit-el-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 30px;
          padding: 4px;
          margin: 16px;
          font-size: 14px;
          border: 4px solid #3867d6;
          border-radius: 2px;
          background-color: #4b7bec;
          color: white;

          cursor: pointer;

          &:hover {
            transform: scale(1.05);
            transition: 0.25s;
          }
        }
      }
    }
  }

  .show-window-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #3867d6;
    border-radius: 2px;
    background-color: #4b7bec;
    color: white;
    width: 160px;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.25s;
    }
  }
}

.page-posts {
  .list {
    .list-el {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 380px;
      height: 250px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      margin: 16px;
      padding: 12px;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
        border: 8px solid #234aa6;
      }
    }
  }
}

.page-albums {
  .list {
    .list-el {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 320px;
      height: 200px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      margin: 16px;
      padding: 8px;

      .container-el-btn {
        top: 60%;
      }
    }
  }
}

.page-users {
  .list {
    .user-el {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 450px;
      height: 330px;
      padding: 12px;
      margin: 16px;
      border: 8px solid #3867d6;
      border-radius: 2px;
      background-color: #4b7bec;
      color: white;
      text-align: center;

      .user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .user-col {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          height: 200px;
        }
      }

      .container-el-btn {
        top: 77%;
      }
    }
  }
}
