.page {
  .list {
    .user-el {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 450px;
      height: 250px;
      padding: 16px;
      margin: 16px;
      border: 10px solid #474747;
      border-radius: 2px;
      text-align: center;

      .user-row {
        display: flex;
        flex-direction: row;

        .user-col {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          height: 200px;
        }
      }
    }
  }
}
